html,
body {
  /* padding: 0; */
  padding-top: 35px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --text: #fff;
  --text-dark: #24261b;
  /* --bg: #232323; */
  /* --bg: #380606; */
  --bg: #f8f0ee;
  --headerBg: #380606;
  --headerBoxShadow: rgba(0, 0, 0, 0.8) 0 1px 4px;
}

body.light {
  /* --text: #000;
  --bg: #f6f7f8;
  --headerBg: #fff;
  --headerBoxShadow: rgba(0, 0, 0, 0.15) 0 1px 4px; */
  --text: #fff;
  /* --bg: #232323; */
  /* --bg: #380606; */
  --bg: #f8f0ee;
  --headerBg: #380606;
  --headerBoxShadow: rgba(0, 0, 0, 0.8) 0 1px 4px;
}
